In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('data/AAPL_Stock_Price_Dataset.csv')
df.shape

(11354, 9)

In [19]:
df.describe()

,Date,Open,High,Low,Close,Volume,Daily_Return,Price_Range,Price_Change
count,11354,11354.000000,11354.000000,11354.000000,11354.000000,1.135400e+04,11353.000000,11354.000000,11354.000000
mean,2003-06-13 07:15:16.329047168,27.944977,28.247652,27.661508,27.967625,3.097171e+08,0.109127,0.586144,0.022648
min,1980-12-15 00:00:00,0.038072,0.038072,0.037645,0.037645,0.000000e+00,-51.869203,0.000000,-14.231336
25%,1992-03-06 18:00:00,0.245930,0.252180,0.240499,0.245770,1.062548e+08,-1.242189,0.007498,-0.009336
50%,2003-06-10 12:00:00,0.481131,0.491290,0.470513,0.482590,1.988224e+08,0.000000,0.023431,0.000000
75%,2014-09-17 18:00:00,21.481897,21.733548,21.238240,21.527946,3.901450e+08,1.420750,0.331782,0.012551
max,2025-12-31 00:00:00,286.200012,288.619995,283.299988,286.190002,7.421641e+09,33.228052,28.622127,26.808337
std,NaN,57.766472,58.385872,57.201837,57.823221,3.334170e+08,2.764016,1.400589,0.920067

In [13]:
df.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Daily_Return    1
Price_Range     0
Price_Change    0
dtype: int64

In [14]:
df.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Daily_Return    float64
Price_Range     float64
Price_Change    float64
dtype: object

In [15]:
df.head()

,Date,Open,High,Low,Close,Volume,Daily_Return,Price_Range,Price_Change
0,1980-12-15,0.093684,0.093684,0.093256,0.093256,175884800,NaN,0.000428,-0.000428
1,1980-12-16,0.086839,0.086839,0.086412,0.086412,105728000,-7.339797,0.000428,-0.000428
2,1980-12-17,0.088550,0.088978,0.088550,0.088550,86441600,2.475132,0.000428,0.000000
3,1980-12-18,0.091118,0.091545,0.091118,0.091118,73449600,2.899260,0.000428,0.000000
4,1980-12-19,0.096678,0.097106,0.096678,0.096678,48630400,6.102835,0.000428,0.000000

In [18]:
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes

Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Volume                   int64
Daily_Return           float64
Price_Range            float64
Price_Change           float64
dtype: object

Minimal cleaning needed for the dataset, but use the past 25 years for prediction.

In [24]:
final_df = df[df['Date'] >= '2000-01-01']
final_df.shape

(6539, 9)

In [25]:
final_df.describe()

,Date,Open,High,Low,Close,Volume,Daily_Return,Price_Range,Price_Change
count,6539,6539.000000,6539.000000,6539.000000,6539.000000,6.539000e+03,6539.000000,6539.000000,6539.000000
mean,2012-12-31 14:04:31.968190976,48.357378,48.879909,47.868249,48.396738,3.732367e+08,0.120399,1.011660,0.039360
min,2000-01-03 00:00:00,0.194792,0.197791,0.190743,0.196741,1.791060e+07,-51.869203,0.002549,-14.231336
25%,2006-07-05 12:00:00,2.154106,2.175700,2.119617,2.147658,1.061800e+08,-0.974174,0.059045,-0.081276
50%,2013-01-02 00:00:00,15.794348,16.015226,15.660722,15.894504,2.525152e+08,0.094061,0.253174,0.001500
75%,2019-07-01 12:00:00,51.358242,52.009656,50.827629,51.187685,5.012210e+08,1.251794,1.069205,0.109041
max,2025-12-31 00:00:00,286.200012,288.619995,283.299988,286.190002,7.421641e+09,15.328841,28.622127,26.808337
std,NaN,69.367421,70.110528,68.693655,69.437885,3.816933e+08,2.428495,1.726058,1.212133

In [26]:
final_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Daily_Return',
       'Price_Range', 'Price_Change'],
      dtype='object')

In [27]:
final_df.head()

,Date,Open,High,Low,Close,Volume,Daily_Return,Price_Range,Price_Change
4815,2000-01-03,0.786328,0.843498,0.762429,0.839281,535796800,8.875354,0.081069,0.052953
4816,2000-01-04,0.811633,0.829440,0.758680,0.768521,512377600,-8.431023,0.070760,-0.043112
4817,2000-01-05,0.777892,0.828971,0.772270,0.779767,778321600,1.463334,0.056702,0.001874
4818,2000-01-06,0.795700,0.802260,0.712287,0.712287,767972800,-8.653835,0.089973,-0.083413
4819,2000-01-07,0.723534,0.757274,0.716036,0.746027,460734400,4.736869,0.041238,0.022493